.buy
  .container
    .blockwrap
      .col-2
        h2 Как купить теплоизоляцию
        .buy-descript При необходимости купить базальтовые теплоизоляционные материалы   свяжитесь с нашими специалистами удобным для Вас способом, и они помогут:
        .buy-wrap
            .buy-item 
                svg(role="img")(width="25")(height="20"): use(xlink:href="#check")
                span Получить подробную консультацию
            .buy-item 
                svg(role="img")(width="25")(height="20"): use(xlink:href="#check")
                span Сделать правильный выбор
            .buy-item 
                svg(role="img")(width="25")(height="20"): use(xlink:href="#check")
                span Оформить заказ
      .col-2.large-show.buy-img
        img.full-img(src="assets/logo_full.png")
