.about-wrap
    .about-text 
        .about-info Продукция НПО "БАЗАЛЬТОВЫЕ ТЕХНОЛОГИИ" многие годы надежно сохраняет тепло и безопасность многих тысяч промышленных, общественных и жилых объектов, сотни километров трубопроводов. В миллионах единиц  бытовой техники и промышленного оборудования. В каждом городе и каждом селе нашей страны.
        .about-baloon ООО НПО «Базальтовые технологии», расположенное в г. Воткинск Удмуртской Республики.
    .about-map 
        script(type="text/javascript")(charset="utf-8")(async)(src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa9b351e54f3411abe0617c245aba8ce05c5945abd9389b6e234d7b89c95f79e6&amp;lang=ru_RU&amp;scroll=true")