.about
  .about-wrap__inner
    .about-info 
      h1 О компании
      .about-text__inner Продукция НПО "БАЗАЛЬТОВЫЕ ТЕХНОЛОГИИ" многие годы надежно сохраняет тепло и безопасность многих тысяч промышленных, общественных и жилых объектов, сотни километров трубопроводов. В миллионах единиц  бытовой техники и промышленного оборудования. В каждом городе и каждом селе нашей страны.
      .about-baloon
        .about-img
          svg(role="img")(width="24")(height="34"): use(xlink:href="#metka")
        p ООО НПО «Базальтовые технологии», расположенное в г. Воткинск Удмуртской Республики.
    .about-map 
      img(src="/images/objects.png")(alt="")
