.h2 Область применения 
.use-descript Универсальная современная продукция марки «БазальтЭКО» находит широкое применение в самых различных областях:
.properties-items
  .properties-item
    figure
      .properties-img
        svg(role="img")(width="80")(height="70"): use(xlink:href="#use1")
      figcaption Тепло - и звукоизоляция 
  .properties-item
    figure
      .properties-img
            svg(role="img")(width="70")(height="70"): use(xlink:href="#use2")
      figcaption Ограждающие конструкции
  .properties-item
    figure
      .properties-img
        svg(role="img")(width="50")(height="70"): use(xlink:href="#use3")
      figcaption Стеновые перегородки и чердачные перекрытия 
  .properties-item
    figure
      .properties-img
        svg(role="img")(width="80")(height="60"): use(xlink:href="#use4")
      figcaption Кровельные и межэтажные перекрытия
  .properties-item
    figure
      .properties-img
        svg(role="img")(width="50")(height="60"): use(xlink:href="#use5")
      figcaption Нагревательное оборудование
  .properties-item
    figure
      .properties-img
        svg(role="img")(width="91")(height="57"): use(xlink:href="#use6")
      figcaption Вагоностроение
  .properties-item
    figure
      .properties-img
        svg(role="img")(width="60")(height="60"): use(xlink:href="#use7")
      figcaption Судостроение
  .properties-item
    figure
      .properties-img
        svg(role="img")(width="80")(height="60"): use(xlink:href="#use8")
      figcaption Авиастроение
  .properties-item
    figure
      .properties-img
        svg(role="img")(width="70")(height="60"): use(xlink:href="#use9")
      figcaption Теплоэнергетика
  .properties-item
    figure
      .properties-img
        svg(role="img")(width="70")(height="60"): use(xlink:href="#use10")
      figcaption Атомная промышленность
