.h2 Область применения
.use-descript Универсальная современная продукция марки «БазальтЭКО» находит широкое применение в самых различных областях:
.use-items
    .use-item
        .use-icon
            svg(role="img")(width="80")(height="70"): use(xlink:href="#use1")
        .use-text Тепло - и звукоизоляция 
    .use-item
        .use-icon
            svg(role="img")(width="70")(height="70"): use(xlink:href="#use2")
        .use-text Ограждающие конструкции
    .use-item
        .use-icon
            svg(role="img")(width="50")(height="70"): use(xlink:href="#use3")
        .use-text Стеновые перегородки и чердачные перекрытия 
    .use-item
        .use-icon
            svg(role="img")(width="80")(height="60"): use(xlink:href="#use4")
        .use-text Кровельные и межэтажные перекрытия
    .use-item
        .use-icon
            svg(role="img")(width="50")(height="60"): use(xlink:href="#use5")
        .use-text Нагревательное оборудование
    .use-item
        .use-icon
            svg(role="img")(width="91")(height="57"): use(xlink:href="#use6")
        .use-text Вагоностроение
    .use-item
        .use-icon
            svg(role="img")(width="60")(height="60"): use(xlink:href="#use7")
        .use-text Судостроение
    .use-item
        .use-icon
            svg(role="img")(width="80")(height="60"): use(xlink:href="#use8")
        .use-text Авиастроение
    .use-item
        .use-icon
            svg(role="img")(width="70")(height="60"): use(xlink:href="#use9")
        .use-text Теплоэнергетика
    .use-item
        .use-icon
            svg(role="img")(width="70")(height="60"): use(xlink:href="#use10")
        .use-text Атомная промышленность