.about {
  background: $sliderBg;
  position:relative;
  @media(min-width:$large) {
    margin: 40px auto;
  }
}
.about-wrap{
  padding: 30px;
  @media(min-width:$tablet) {
    display: flex;
    justify-content: space-between;
  }
    @media(min-width:$large) {
      max-width: 1170px;
      padding: 60px 30px 70px 0;
      margin: 0 auto;
  }
}
.about-col{
  @media(min-width:$tablet){
    width:calc(100% / 2 - 15px);
    margin: 0 15px;
    position: relative;
  }
}
.about-text{
  position:relative;
  margin-top: 20px;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: $gambActive;
    top: -15px;
    @media(min-width:$large) {
      top: -30px;
    }
  }
  p{
    margin: 30px 0;
    display: block;
    font: $fBase;
    line-height: 1.5;
    @media(min-width:$large){
    font: $fMedium;
    }
  }
  }
  .about-text__inner{
    margin: 40px 0;
    position: relative;
    padding: 10px 0;
    &:before, &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: $gambActive;
      left:0;
    }
    &:before{
      top: -15px;
      max-width: 300px;
    }
    &:after{
      bottom: -15px;
    }
  }
  .small{
    display: none;
    font: $fSmall;
    @media(min-width:$medium){
      display: block;
      margin: 20px 0;
    }
    @media(min-width:$large){
    &:before{
      content: '';
      display: block;
      position:relative;
      width: 40%;
      height: 2px;
      left: -20%;
      background: $gambActive;
      margin: 40px 0;
    }
  }
}
.about-image{
  height: 300px;
    img{
      position:absolute;
      left: -30px;
      bottom: -50px
    }
  @media(min-width:$tablet) {
    width:calc(100% / 2 - 15px);
    order: -1;
    margin: 0 15px;
    img{
      bottom: auto;
      top:0;
    }
  }
    @media(min-width:$large) {
    img{
      position: absolute;
      top: 0;
      width: 655px;
      right: 50%;
      left: auto;
      bottom: -80px;
      }
    }
  }
.about-links{
  display:none;
  flex-wrap: wrap;
  margin: 40px 0;
  a{
    text-transform: uppercase;
    margin-right:20px;
    margin-top: 15px;
    color: $regTxt;
    font: $fMedium;
  }
@media(min-width:$large) {
  display: flex;
}
}
.about-wrap__inner{
  padding: 20px 30px 0 30px;
    @media(min-width:$ipad) {
      display: flex;
      padding: 0;
  }
}
.about-info{
  max-width: 700px;
    @media(min-width:$large) {
  width: 564px;
  margin-left: 30px;
  padding: 30px 0;
  }
}
.about-baloon{
  display: flex;
  max-width: 700px;
  align-items: center;
  p{
    color: $regTxt;
  }
}
  .about-img{
    margin-right: 20px;
  }
.about-map {
  margin: 40px -30px;
  position: relative;
  height: auto;
  overflow: hidden;
  @media(min-width:$ipad){
    margin: 0 15px;
    order: -1;
  }
  @media(min-width:$large){
    width: 50%;
    margin: 0;
  }
  & > ymaps {
    position: absolute;
    top: 0;
    left: 0;
      @media(min-width:$large){
        position: relative;
      }
}
}
.buy{
  background: $sliderBg;
  padding: 30px 0;
}
.full-img{
  max-width: 100%;
}
.buy-descript{
  max-width: 700px;
}
.buy-item{
  text-transform: uppercase;
  margin: 20px 0;
  display: flex;
  font: $fMedium;
  span{
    color: $regTxt;
  }
  svg{
    margin-right: 20px;
  }
}
.buy .blockwrap{
  align-items: center;
}
.use-descript{
  max-width: 700px;
}
