$impTxt: #9ECC2E;
$regTxt: #000000;
$nimpTxt: #828282;
$pText: #4F4F4F;
$footTxt: #FFFFFF;
$gamb: #C4C4C4;
$gambActive: #9ECC2E;
$add: #C4C4C4;
$borderMenu: #E0E0E0;
$background:#F2F2F2;
$bodyBg:#FAFAFA;
$sliderBg: #F5F7F0;
$footerBg:#333333;
$footerh3:#BDBDBD;
$articleTxt: #636363;
