*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  position: relative;
  margin: 0 auto;
  font: $fBase;
  color: $pText;
  background: $bodyBg;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.container{
  min-width: 320px;
  padding: 30px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  @media(min-width: large) {
    width:1170px;
  }
}
.container.wraper {
  @media(min-width:$large) {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
 }
}
.col-4{
  @media(min-width:$large) {
    width: calc(33,3% - 30px);
    margin: 0 15px;
  }
}
.col-8{
  @media(min-width:$large) {
    width: calc(66,6% - 30px);
    margin: 0 15px;
  }
}
main{
  flex-grow: 1;
}
h1, .h1{
  color:$impTxt;
  font:$fBig;
  text-transform: uppercase;
}
h2, .h2{
  font: $fh2;
  color: $gambActive;
  text-transform: uppercase;
}
h2.bordered, .h2.bordered{
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: $gambActive 2px solid;
}
h3, .h3{
  text-transform: uppercase;
  font: $fMedium;
  color: $regTxt;
  margin: 30px 0 20px 0;
}
h4, .h4{
  color: $pText;
  font: $fMedium;
}
.blockwrap{
  display: flex;
  justify-content: space-between;
}

  p{
    margin: 20px auto;
    font: $fBase;
    color: $articleTxt;
  }
  h5{
    font: $fadaptive;
    color: $pText;
    text-transform: none;
  }
.content{
ul, ol{
  margin-top: 30px;
}
li{
  list-style: none;
  position:relative;
  text-indent: 20px;
  margin: 20px auto;
  &:before{
    content: '';
    position:absolute;
    left: 0;
    top: 8px;
    width: 10px;
    height: 1px;
    background: $pText;
  }
}
}
