*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  position: relative;
  margin: 0 auto;
  font: $fBase;
  color: $pText;
  background: $bodyBg;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  &.noScroll{
    overflow:hidden;
  }
}

.container{
  min-width: 320px;
  padding: 20px 30px;
  margin: 0 auto;
  width: 100%;
  @media(min-width: $large) {
    width:1170px;
    max-width: 1170px;
    padding: 20px 0;
  }
}
.blockwrap {
  margin-top: -46px;
  @media(min-width:$ipad) {
    margin: -46px -15px 0 -15px;
  display: flex;
  justify-content: space-between;
 }
}
.col-4{
  @media(min-width:$ipad) {
    width: calc(33% - 30px);
    margin: 0 15px;
  }
}
.col-8{
  @media(min-width:$ipad) {
    width: calc(66% - 30px);
    margin: 0 15px;
  }
}
.col-2{
  @media(min-width:$large) {
    width: calc(50% - 30px);
  }
}
.large-show{
  display:none!important;
  @media(min-width:$large) {
    display:block!important;
  }
}
.min-show{
  display:block!important;
  @media(min-width:$large) {
    display:none!important;
  }
}
main{
  flex-grow: 1;
}
h1, .h1{
  color:$impTxt;
  font:$fBig;
  text-transform: uppercase;
  margin: 30px 0 20px 0;
}
h2, .h2{
  font: $fh2;
  color: $gambActive;
  text-transform: uppercase;
  margin: 30px 0 20px 0;
}
.h2.black{
  color: $regTxt;
}
h3, .h3{
  text-transform: uppercase;
  font: $fMedium;
  color: $regTxt;
  margin: 30px 0 20px 0;
}
h4, .h4{
  color: $pText;
  font: $fMedium;
}

  p{
    margin: 20px auto;
    font: $fBase;
    color: $articleTxt;
  }
  h5{
    font: $fadaptive;
    color: $pText;
    text-transform: none;
  }
.content{
ul, ol{
  margin-top: 30px;
}
li{
  list-style: none;
  position:relative;
  text-indent: 20px;
  margin: 20px auto;
  &:before{
    content: '';
    position:absolute;
    left: 0;
    top: 8px;
    width: 10px;
    height: 1px;
    background: $pText;
  }
}
}
table{
  border-collapse: collapse;
  border: 1px solid $borderMenu;
  background: $footTxt;
  white-space: nowrap;
  text-align: center;
  margin-bottom:20px;
  font: $fTiny;
  tr {
    td{
      &:first-child{
        text-align: left;
      }
    }
  }
    th{
      background:$background;
      color: $regTxt;
      padding: 25px 20px;
      border: 1px solid $borderMenu;
      font-weight: normal;
      &.name{
        font: $fMedium;
      }
    }
   td{
      padding: 10px  20px;
      border: 1px solid $borderMenu;
      width: 125px;
    }
  &.conducts{
    tr {
      td{
        &:first-child{
          text-align: center;
        }
      }
  }
  th{
      padding: 10px  20px;
  }
}
}
