*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  position: relative;
  margin: 0 auto;
  font: $fBase;
  color: $pText;
  background: $bodyBg;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.container{
  min-width: 320px;
  padding: 30px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  @media(min-width: 1170px) {
    width:1170px;
  }
}
main{
  flex-grow: 1;
}
h1, .h1{
  color:$impTxt;
  font:$fBig;
  text-transform: uppercase;
}
h2, .h2{
  font: $fh2;
  color: $gambActive;
  text-transform: uppercase;
  margin: 9px 6px;
}
h2.bordered, .h2.bordered{
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: $gambActive 2px solid;
}
h3, .h3{
  text-transform: uppercase;
  font: $fMedium;
  color: $regTxt;
  margin: 30px 0 20px 0;
}
.blockwrap{
  display: flex;
  justify-content: space-between;
}
