.paginator{
  margin: 20px auto;
  @media(min-width: $tablet){
    max-width: 300px;
    margin: 20px 0;
  }
  ul{
    display: flex;
    justify-content: space-between;
  li{
    list-style: none;
  }
  }
}
.paginator-href{
  color: $regTxt;
  text-decoration: none;
  font: $fMedium;
  svg{
    color: $gamb;
    fill:$gamb;
  }
    &:hover{
        color: $gambActive;
        fill:$gambActive;
    }
}
.paginator-href__prev{
  svg{
    transform: rotate(180deg);
  }
}
.paginator-href__prev, .paginator-href__next{
  &:hover{
    svg
    {
    color: $regTxt;
    fill:$regTxt;
  }
  }
}
.paginator-href__current{
  color: $gambActive;
}
