.pluses-wrap{
  @media(min-width:$tablet){
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
  }
  @media(min-width:$large){
    display: flex;

    flex-wrap: wrap;
  }
}
.plus-item{
  @media(min-width:$tablet){
    width: calc(100% / 2 - 30px);
    margin: 0 15px;
  }
  @media(min-width:$large){
    width: calc(100% / 4 - 30px);
    margin: 0 15px;
  }
}
