.properties{
  @media(min-width:$large){
    margin-top:65px;
  }
}
.properties-text{
  margin-top:42px;
}
.properties-title{
  font: $fMedium;
  color: $regTxt;
  margin-top: 37px;
  margin-left: 2px;
}
.properties-items{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: -15px;
  margin-right: -15px;
}
.properties-item{
  width: calc(100% / 2 - 30px);
  margin: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  figcaption{
    color: $regTxt;
    font: $fSmall;
    margin: 15px 0;
  }
  @media(min-width: $tablet){
      width: calc(100% / 3 - 30px);
  }
  @media(min-width: $large){
      width: calc(100% / 5 - 30px);
  }
}
.properties-img{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
