.productcat{
  @media(min-width:$tablet) {
  margin: 0 -15px 0 -15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 }
}
.productcat-item{
  margin: 20px auto;
    @media(min-width:$tablet) {
      width: calc(50% - 30px);
    }
    @media(min-width:$large) {
      width: calc(25% - 30px);
    }
}
.product-img{
  padding: 20px 0;
  border-bottom: 2px solid;
  border-color: $gambActive;
  transition: easy border-color .3s;
  img{
    max-width: 100%;
    filter: grayscale(100%);
    transition: easy filter .3s;
  }
}

.product-name{
  h3{
    max-width: 90%;
    cursor:pointer;
  }
  position:relative;
  min-height: 130px;
  svg{
    position: absolute;
    right:0;
    bottom:0;
    transition: easy rotate .3s;
  }
}
.product-list{
  display: none;
  ul{
    li{
      list-style:none;
      margin: 10px 0;
      a{
        color: $pText;
        font: $fMedium;
        text-decoration: none;
        @media(min-width:$large){
          font: $fBase;
        }
      }
    }
  }
}
.product-wrap{
  position:relative;
}
.productcat-item.productcat-active, .productcat-item:hover, .productcat-item:focus{
  .product-list{
    display: block;
    background: $bodyBg;
    position:absolute;
    z-index:1000;
    width: 100%;
    padding-left:20px;
      a{
        text-decoration:underline;
        &:hover{
          color:$regTxt;
        }
      }
  }
  .product-name{
    svg{
      transform: rotate(180deg);
    }
  }
  .product-img{
    border-color: $borderActive;
    img{
      filter: none;
    }
  }
}
.product-sub{
  &:hover{
    label{
    color: $gambActive;
  }
}
  ul{
  display: none;
  li{
    padding-left: 20px;
    &:hover{
      position:relative;
      &:before{
        content:"";
        background: url(/images/svg/menuarow.svg);
        position:absolute;
        width: 15px;
        height: 8px;
        left: 0;
        top: 6px;
      }
    }
  }
}
  &:hover{
    ul{
      display: block;
    }
  }
.product-input{
  position:absolute;
  visibility: hidden;
  &+label{
    text-decoration: underline;
    cursor: pointer;
    font: $fMedium;
    @media(min-width:$large){
      font: $fBase;
    }
  }
  &:checked{
    &+label{
      color: $gambActive;
    }
    &~ul{
      display:block;
    }
  }
  &+label{
    &:hover{
      color: $gambActive;
    }
  }
}
}
.productslider-item{
  margin: 20px 0;
}
.productslider-img{
  img{
    width:100%;
  }
}
.tabs-controlls{
  @media(min-width: $tablet){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -5px;
  }
    @media(min-width: $ipad){
      justify-content: flex-start;
      margin: 0 -1px;
    }
}
.tabs-btn{
  margin: 5px 0;
  display: block;
  text-decoration: none;
  color: $pText;
  font: $fBase;
  text-align: center;
  padding: 20px;
  background: $background;
  transition: linear color 0.3s, linear background 0.3s;
  @media(min-width: $tablet){
    width: calc(50% - 10px);
    margin: 5px 5px;
  }
  @media(min-width: $ipad){
    width: auto;
    margin: 5px 1px;
  }
  @media(min-width: $large){
    padding: 20px 25px;
  }
}
.tabs-btn__active.tabs-btn, .tabs-btn:hover{
  color: $footTxt;
  background: $gambActive;
}
.tabs-content{
  margin: 40px 0;
}
.tabs-inner{
  display: none;
}
.tabs-inner.tabs-inner__current{
  display:block;
}
.container.catalogmenu-container{
  display:none;
  @media(min-width:$large){
    display:block;
  }
}
.catalogmenu-wrap{
  display:none;
  @media(min-width:$large){
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
  }
}
.catalog-list{
  display:none;
  a{
    font: $fSmall;
    color: $pText;
    text-transform: none;
  }
}
.catalog-sub{
  ul{
    display: none;
    li{
      padding-left: 20px;
    }
  }
  &:hover, &.activecat{
      color:$gambActive;
      ul{
        display: block;
        li:hover{
          position:relative;
          &:before{
            content:"";
            background: url(/images/svg/menuarow.svg);
            position:absolute;
            width: 15px;
            height: 8px;
            left: 0;
            top: 6px;
          }
        }
      }
  }
}
.catalog-input__sub{
  visibility: hidden;
  position: absolute;
  &+label{
    text-decoration: underline;
  }
  &:checked,{
      &+label{
        color:$gambActive;
      &~ul{
        display: block;
        li:hover{
          position:relative;
          &:before{
          content:"";
          background: url(/images/svg/menuarow.svg);
          position:absolute;
          width: 15px;
          height: 8px;
          left: 0;
          top: 6px;
        }
      }
      }
    }
  }
}
.catalog-item {
  width: calc(100% / 4 - 30px);
  margin: 0 15px;
  position: relative;
  border-top: 2px $gambActive solid;
  padding-top: 15px;
  transition: linear border-color .3s;
  cursor:pointer;
  li{
    list-style: none;
    margin: 5px 0;
  }
  .catalog-input{
    visibility: hidden;
    position: absolute;
    &+label{
      display: block;
      color: $regTxt;
      font: $fMedium;
      text-decoration: none;
      text-transform:uppercase;
      min-height: 130px;
      cursor:pointer;
    }
  }
   svg{
     position: absolute;
     right: 0;
     top: 125px;
     transition: linear transform .3s;
   }
   &:hover{
    border-color: $borderActive;
     .catalog-list{
      display: block;
      margin-top: -10px;
      padding: 10px;
      box-shadow: 0px 4px 7px 3px $shadow;
      position: absolute;
      width:100%;
      background: $background;
     }
     svg{
      transform: rotate(180deg);
     }
   }
}
.catalog-list a:hover{
  color: $regTxt;
}
.catalog-input:checked{
 border-color: $borderActive;
  &~.catalog-list{
   display: block;
   margin-top: -10px;
   padding: 10px;
   box-shadow: 0px 4px 7px 3px $shadow;
   position: absolute;
   width:100%;
   background: $background;
  }
  svg{
   transform: rotate(180deg);
  }
}
.slick-dots{
  position: relative;
  text-align: center;
  &>li{
    display: inline-block;
    cursor: pointer;
    padding: 0 5px;
    text-indent: 0;
    margin: 0;
    &:before{
      display: none!important;
    }
    button{
      visibility: hidden;
      &:before{
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        visibility: visible;
        background: $gamb;
        border-radius: 50%;
      }
    }
    &.slick-active{
      button{
        &:before{
          background: $nimpTxt;
        }
      }
    }
  }
}
.scroll-container{
  padding: 30px 5px;
}
.certificate-slider{
  margin: 20px -30px;
  @media(min-width: $tablet){
    margin: 20px auto;
  }
  @media(min-width: $large){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px -30px;
  }
}
.certificate-item{
  max-width: 160px;
  margin: 0 15px;
  img{
    max-width: 100%;
  }
  @media(min-width: $large){
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.certificate-img{
  @media(min-width: $large){
  background: $borderMenu;
  flex-grow: 1;
  padding: 20% 0;
}
}
.certificate-title{
  margin-top: 20px;
}

.catalogmenu-wrap__column{
  display:none;
  margin: 20px 0;
  @media(min-width:$large){
    display: block;
  }
  .catalog-item{
    width: 270px;
    margin: 20px 0;
    .catalog-list{
      z-index: 1000;
    }
  }
}
.footer-form{
  @media(min-width:$large){
    width: 100%;
    background: $sliderBg;
    padding: 30px 0;
    margin-bottom:-100px;
    a{
      font: $fMedium;
      color: $gambActive;
      text-transform: uppercase;
    }
  }
}
