.properties-text{
  margin-top:42px;
}
.properties-title{
  font: $fMedium;
  color: $regTxt;
  margin-top: 37px;
  margin-left: 2px;
}
.properties-items{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.properties-item{
  width: calc(100% / 2 - 30px);
  margin: 0 15px 11px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  figcaption{
    color: $regTxt;
    font: $fSmall;
    margin: 30px 0;
  }
  @media(min-width: $tablet){
      width: calc(100% / 3 - 30px);
  }
  @media(min-width: $large){
      width: calc(100% / 5 - 30px);
  }
}
