.share-container{
  width: 185px;
  display: flex;
  align-items: center;
  float: right;
  margin: 40px 0;
  &:before{
    content: "";
    display: block;
    clear: both;
  }
}
.share-btn{
  margin-right:20px;
}
.share-hidden{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
