.slider{
  overflow: hidden;
}
.slider-wrap{
  width: 100%;
  background: $sliderBg;
  margin-top: -31px;
  @media(min-width: $tablet){
  margin-top: 0;
  }
}
.slider-item{
  width: 100%;
  @media(min-width: $tablet){
  position:relative;
  overflow:hidden;
  }
}
.slider-inner{
  display:flex;
  @media(min-width: $large){
    max-width:1170px;
    margin:0 auto;

  }
}
.slider-img{
  display:none;
  @media(min-width: $tablet){
    float: right;
    width: 42%;
    position:relative;
    display:block;
    img{
      position: absolute;
      left: 0;
      top:0;
      height:100%;
    }
  }
    @media(min-width:$ipad) and (max-width: $large){
      img{
      top:0;
      bottom: auto;
    }
  }
}
.slider-text{
  padding: 30px;
  @media(min-width: $tablet){
    float: left;
    max-width: 58%;
  }
  @media(min-width: $large){
    max-width: auto;
  }
}
.slider-h1{
  font: $fBigest;
  color: #9ECC2E;
  margin-top: 0;
  text-transform: uppercase;
  @media(min-width:$tablet){
    font: $fbigh2;
  };
  @media(min-width:$large){
    font: $fbigh1;
  }
}
.slider-title{
  position: relative;
  padding: 20px 0;
  margin: 20px 0;
  max-width: 300px;
  &:after, &:before{
    content: "";
    width: 170px;
    height: 2px;
    position:absolute;
    background: $gambActive;
    @media(min-width:$tablet){
      width: 243px;
    }
  }
  &:before{
    top: -21px;
  }
  &:after{
    bottom: 4px;
    right: 0px;
  }

  @media(min-width:$large){
    max-width: 500px;
  }
}
.slider-h2{
  font: $fBig;
  color: $regTxt;
  text-transform: uppercase;
  display: block;
  span:first-of-type{
    float: left;
    margin-top: -18px;
  }
  span:nth-of-type(2){
    float: right;
    margin-top: 4px;
    margin-right: 3px;
  }
  &:after, &:before{
    content: "";
    display: block;
    clear: both;
  }
  @media(min-width:$tablet){
    font: $fBig;
  };
  @media(min-width:$large){
    font: $fbigh2;
  }
}
.slider-description{
  font: $fBase;
  color: $pText;
  margin-top: 30px;
  @media(min-width:$large){
    max-width: 340px;
  }
}
.slider-arrows{
  position:relative;
  height: 53px;
  margin-left: 30px;
}
.slider-arrows svg{
  width: 40px;
  height: 20px;
  fill: $regTxt;
  color: $regTxt;
  position: absolute;
}
.arrowleft{
  transform: rotate(180deg);
}
.arrowright{
  left: 70px;
}
.slider-item.slick-slide{
  &:focus, &:hover{
    outline: none;
    border: none;
  }
}
