.up{
  width: 60px;
  display: flex;
  justify-content: space-between;
  font:   $fSmall;
  color:   $footerh3;
  position: absolute;
  right: 30px;
  bottom: 148px;
  @media(min-width: $large){
  bottom: 244px;
  }
  a{
    color:   $footerh3;
    text-decoration: none;
  }
}
.up-svg{
  transform: rotate(-90deg);
  fill:   $footerh3;
}
