.up{
  width: 60px;
  display: flex;
  justify-content: space-between;
  font:   $fSmall;
  color:   $footerh3;
  position: absolute;
  right: 30px;
  bottom: 148px;
  p{
    color:   $footerh3;
  }
}
.up-svg{
  transform: rotate(-90deg);
  fill:   $footerh3;
  margin-top:20px;
}
