@import
  'normalize',
  'colors',
  'typography',
  'common',
  'breakpoints',
  '_header/header',
  'slider',
  'productsmenu',
  'properties',
  'pluses',
  'about',
  'breadcrumbs',
  'offices',
  'contacts',
  'info',
  'paginator',
  'comeback',
  'share',
  'up',
  'products',
  '_footer/footer';
  /*
  $impTxt: #9ECC2E;
  $regTxt; #000000;
  $nimpTxt: #828282;
  $pText: #4F4F4F;
  $footTxt: #FFFFFF;
  $gamb: #C4C4C4;
  $gambActive: #9ECC2E;
  $add: #C4C4C4;
  $borderMenu: #E0E0E0;
  $background:#F2F2F2;
  $sliderBg: #F5F7F0;
  $footerBg:#333333;
  $footerh3:#BDBDBD;
  $small: 360px;
  $tablet: 600px;
  $medium: 720px;
  $ipad: 1024px;
  $large: 1200px
  $fTiny: 14px/48px cuprum-regular, arial;
  $fSmall: 16px/20px cuprum-regular, arial;
  $fBase: 18px/20px cuprum-regular, arial;
  $fadaptive: 20px/22px cuprum-regular, arial;
  $fMedium: 24px/30px cuprum-regular, arial;
  $fWidth: 36px/40px cuprum-bold, arial;
  $fphone: 36px/40px cuprum-regular, arial;
  $fWidth_min: 30px/40px cuprum-bold, arial;
  $fphone_min: 30px/40px cuprum-regular, arial;
  $fBig: 40px/46px cuprum-regular, arial;
  $fBigest: 56px/60px cuprum-regular, arial;
  $fh2: 30px/40px cuprum-regular, arial;
  $fbigh1: 70px/72px cuprum-regular, arial;
  $fbigh2: 60px/64px cuprum-regular, arial;

  */
