.certificate-slider
  .certificate-item
    .certificate-img 
      a.open-img(href="/assets/sliderproduct1.jpg")
        img(src="/assets/sliderproduct1.jpg")(alt="")
    .certificate-title Наименование сертификаты
  .certificate-item
    .certificate-img
      a.open-img(href="/assets/cert.png")
        img(src="/assets/cert.png")(alt="")
    .certificate-title Наименование сертификаты
  .certificate-item
    .certificate-img 
      a.open-img(href="/assets/cert.png")
        img(src="/assets/cert.png")(alt="")
    .certificate-title Наименование сертификаты
  .certificate-item
    .certificate-img
      a.open-img(href="/assets/cert.png")
        img(src="/assets/cert.png")(alt="")
    .certificate-title Наименование сертификаты
  .certificate-item
    .certificate-img
      a.open-img(href="/assets/cert.png")
        img(src="/assets/cert.png")(alt="")
    .certificate-title Наименование сертификаты
  .certificate-item
    .certificate-img
      a.open-img(href="/assets/cert.png")
        img(src="/assets/cert.png")(alt="")
    .certificate-title Наименование сертификаты
  .certificate-item
    .certificate-img
      a.open-img(href="/assets/cert.png")
        img(src="/assets/cert.png")(alt="")
    .certificate-title Наименование сертификаты
  .certificate-item
    .certificate-img
      a.open-img(href="/assets/cert-h.png")
        img(src="/assets/cert-h.png")(alt="")
    .certificate-title Наименование сертификаты
