.officese
  .officese-item
    svg.officese-img(role="img")(width="40")(height="40"): use(xlink:href="#doc")
    .officese-link
      span Наименование файла
      a(href="#")скачать
  .officese-item
    svg.officese-img(role="img")(width="40")(height="40"): use(xlink:href="#txt")
    .officese-link
      span Наименование файла
      a(href="#")скачать
  .officese-item
    svg.officese-img(role="img")(width="40")(height="40"): use(xlink:href="#ppt")
    .officese-link
      span Наименование файла
      a(href="#")скачать
  .officese-item
    svg.officese-img(role="img")(width="40")(height="40"): use(xlink:href="#pdf")
    .officese-link
      span Наименование файла
      a(href="#")скачать
  .officese-item
    svg.officese-img(role="img")(width="40")(height="40"): use(xlink:href="#zip")
    .officese-link
      span Наименование файла
      a(href="#")скачать
  .officese-item
    svg.officese-img(role="img")(width="40")(height="40"): use(xlink:href="#jpg")
    .officese-link
      span Наименование файла
      a(href="#")скачать
