.productcat
  .productcat-item(data-aos="fade-right")
    .product-img
      img(src="/assets/product1.jpg")(alt="")
    .product-wrap
      .product-name
        h3 Теплоизоляция в промышленном и гражданском строительстве
        svg(role="img")(width="20")(height="10"): use(xlink:href="#arrowdown")
      .product-list
        ul
          li.product-sub
            input.product-input(type="checkbox")(id="product1")
            label(for="product1")Холсты
            ul
              li 
                a(href="productdetail.html")Клеевая огнезащита
              li
                a(href="productdetail.html")Бесклеевая огнезащита
          li
            a(href="productdetail.html")Маты прошивные базальтовые
          li
            a(href="productdetail.html")МБОР
          li
            a(href="productdetail.html")Базальтовые плиты
  .productcat-item(data-aos="fade-right")
    .product-img
      img(src="/assets/product2.jpg")(alt="")
    .product-wrap
      .product-name
        h3 Теплоизоляция промышленного и бытового оборудования
        svg(role="img")(width="20")(height="10"): use(xlink:href="#arrowdown")
      .product-list
        ul
          li
            a(href="productdetail.html")Холсты
          li
            a(href="productdetail.html")Маты прошивные базальтовые
          li
            a(href="productdetail.html")МБОР
          li
            a(href="productdetail.html")Базальтовые плиты
  .productcat-item(data-aos="fade-left")
    .product-img
      img(src="/assets/product3.jpg")(alt="")
    .products-wrap
      .product-name
        h3 Сертифицированная Огнезащита металлоконструкций и воздуховодов
        svg(role="img")(width="20")(height="10"): use(xlink:href="#arrowdown")
      .product-list
        ul
          li
            a(href="productdetail.html")Холсты
          li
            a(href="productdetail.html")Маты прошивные базальтовые
          li
            a(href="productdetail.html")МБОР
          li
            a(href="productdetail.html")Базальтовые плиты
  .productcat-item(data-aos="fade-left")
    .product-img
      img(src="/assets/product4.jpg")(alt="")
    .product-wrap
      .product-name
        h3 Теплоизоляция вагонов и контейнеров
        svg(role="img")(width="20")(height="10"): use(xlink:href="#arrowdown")
      .product-list
        ul
          li
            a(href="productdetail.html")Холсты
          li
            a(href="productdetail.html")Маты прошивные базальтовые
          li
            a(href="productdetail.html")МБОР
          li
            a(href="productdetail.html")Базальтовые плиты
