p Марки материала представлены следующими наименованиями:
p 
  strong МБОР
  | – 3, 5, 8, 10, 13 - без облицовки соответствующей толщины.
p 
  strong МБОР
  | – К-3, 5, 8, 10, 13 – материал с кремнезёмной тканью с одной стороны.
p 
  strong МБОР 
  | – С-3, 5, 8, 10, 13 - материал с обкладкой стеклотканью с одной стороны.
p 
  strong МБОР
  | - С2-3, 5, 8, 10, 13 - материал с обкладкой стеклотканью с двух сторон.
p 
  strong МБОР 
  | – СС-3, 5, 8, 10, 13 - материал со стеклосеткой с одной стороны.
p 
  strong МБОР
  | – СС2-3, 5, 8, 10, 13 - материал со стеклосеткой с двух сторон.
p 
  strong МБОР
  | – Б-5 - материал с базальтовой тканью с одной стороны.
p 
  strong МБОР
  | – Ф-5 - материал с фольгой алюминиевой с одной стороны.
.scroll-container
  table
    thead
      tr
        th.name(rowspan="2") Наименование показателей
        th(colspan="15") Норма для марки
      tr
        th МБОР-3
        th МБОР-5
        th МБОР-8
        th МБОР-10
        th МБОР-13
        th МБОР-С3
        th МБОР-С5
        th МБОР-С8
        th МБОР-С10
        th МБОР-С13
        th МБОР-С2-3
        th МБОР-С2-5
        th МБОР-С2-7
        th МБОР-С2-10
        th МБОР-С2-13
    tbody
      tr
        td 1. Поверхностная плотность, г/м2, не >
        td 300
        td 500
        td 800
        td 1000
        td 1300
        td 300
        td 500
        td 800
        td 1000
        td 1300
        td 300
        td 500
        td 800
        td 1000
        td 1300
      tr
        td 2. Плотность, кг/м3, не >
        td 100
        td 100
        td 100
        td 100
        td 100
        td 100
        td 100
        td 100
        td 100
        td 100
        td 100
        td 100
        td 100
        td 100
        td 100
      tr
        td 3. Влажность, % по массе, не >
        td 1
        td 1
        td 1
        td 1
        td 1
        td 1
        td 1
        td 1
        td 1
        td 1
        td 1
        td 1
        td 1
        td 1
        td 1
      tr
        td 4. Теплопроводность Вт/м*К, не >,
          br 
          | при температуре: (25±5)°С
        td(colspan="15") 0,033
      tr
        td (125±5)°С
        td(colspan="15") 0,055
      tr
        td (300+5)°С
        td(colspan="15") 10,090
