.tabs-controlls
  .tabs-btn(data-index="0").tabs-btn__active Описание
  .tabs-btn(data-index="1") Технические характеристики
  .tabs-btn(data-index="2") Сертификаты
  .tabs-btn(data-index="3") Материалы для скачивания
.tabs-content.content
  .tabs-inner.tabs-inner__current
    p 
      strong МБОР 
      |представляет собой огнезащитный холст из супертонких стеклянных шпательных волокон из горных  пород без связующих, прошитых вязально-прошивным способом с облицовочным материалом и без него.
    h4 Применение:
    p Материал предназначен для сверхлегкой тепловой изоляции промышленного оборудования, трубопроводов, аппаратуры, различных транспортных средств, бытовых газовых и электрических плит, стерилизаторов, жаропрочных шкафов, промышленных установок. Матераил предназначен для увелечния пределов огнестойкости в качестве огнезащитного материла поверх строительных и инженерных конструкций. Может использоваться для теплоизоляции в авиационной технике, автотранспорте, судостроении, строителстве и других отраслях.
    h4 Полезные свойства:
    ul 
      li негорючий;
      li нетоксичный, невзрывоопасный;
      li высокий коэффициент звукопоглащения;
      li стойкость к высоким температурам (до 700 °С);
      li устойчивость к агрессивным средам;
      li долговечность.
    h4 Упаковка, хранение:
    p Упаковка и маркировка МБОР соответсвует ГОСТ 25880-83, изделия транспортируют в крытых транспортных средствах в соответствии с правилами перевозок грузов, действующих на данном виде транспорта. 
    p Материал должен храниться в закрытом сухом помещении при относительной влажности воздуха не более 85 %. Рулоны должны храниться в горизонтальном положении в штабелях.
  .tabs-inner
    p Марки материала представлены следующими наименованиями:
    p 
      strong МБОР
      | – 3, 5, 8, 10, 13 - без облицовки соответствующей толщины.
    p 
      strong МБОР
      | – К-3, 5, 8, 10, 13 – материал с кремнезёмной тканью с одной стороны.
    p 
      strong МБОР 
      | – С-3, 5, 8, 10, 13 - материал с обкладкой стеклотканью с одной стороны.
    p 
      strong МБОР
      | - С2-3, 5, 8, 10, 13 - материал с обкладкой стеклотканью с двух сторон.
    p 
      strong МБОР 
      | – СС-3, 5, 8, 10, 13 - материал со стеклосеткой с одной стороны.
    p 
      strong МБОР
      | – СС2-3, 5, 8, 10, 13 - материал со стеклосеткой с двух сторон.
    p 
      strong МБОР
      | – Б-5 - материал с базальтовой тканью с одной стороны.
    p 
      strong МБОР
      | – Ф-5 - материал с фольгой алюминиевой с одной стороны.
    .scroll-container
      table
        thead
          tr
            th.name(rowspan="2") Наименование показателей
            th(colspan="4") Норма для марки
          tr
            th МБОР-3
            th МБОР-5
            th МБОР-10
            th МБОР-13
        tbody
          tr
            td 1. Поверхностная плотность, г/м2, не >
            td 300
            td 500
            td 800
            td 1000
          tr
            td 2. Плотность, кг/м3, не >
            td 100
            td 100
            td 100
            td 100
          tr
            td 3. Влажность, % по массе, не >
            td 1
            td 1
            td 1
            td 1
          tr
            td 4. Теплопроводность Вт/м*К, не >,
              br 
              | при температуре: (25±5)°С
            td(colspan="4") 0,033
          tr
            td (125±5)°С
            td(colspan="4") 0,055
          tr
            td (300+5)°С
            td(colspan="4") 10,090
  .tabs-inner
    .certificate-slider
      .certificate-item
        .certificate-img 
          img.open-img(src="/assets/sliderproduct1.jpg")(alt="")
        .certificate-title Наименование сертификаты
      .certificate-item
        .certificate-img
          img.open-img(src="/assets/cert.png")(alt="")
        .certificate-title Наименование сертификаты
      .certificate-item
        .certificate-img 
          img.open-img(src="/assets/cert.png")(alt="")
        .certificate-title Наименование сертификаты
      .certificate-item
        .certificate-img 
          img.open-img(src="/assets/cert.png")(alt="")
        .certificate-title Наименование сертификаты
      .certificate-item
        .certificate-img 
          img.open-img(src="/assets/cert.png")(alt="")
        .certificate-title Наименование сертификаты
      .certificate-item
        .certificate-img 
          img.open-img(src="/assets/cert.png")(alt="")
        .certificate-title Наименование сертификаты
      .certificate-item
        .certificate-img 
          img.open-img(src="/assets/cert.png")(alt="")
        .certificate-title Наименование сертификаты
      .certificate-item
        .certificate-img 
          img.open-img(src="/assets/cert-h.png")(alt="")
        .certificate-title Наименование сертификаты
  .tabs-inner
    .officese
      .officese-item
        svg.officese-img(role="img")(width="40")(height="40"): use(xlink:href="#doc")
        .officese-link
          span Наименование файла
          a(href="#")скачать
      .officese-item
        svg.officese-img(role="img")(width="40")(height="40"): use(xlink:href="#txt")
        .officese-link
          span Наименование файла
          a(href="#")скачать
      .officese-item
        svg.officese-img(role="img")(width="40")(height="40"): use(xlink:href="#ppt")
        .officese-link
          span Наименование файла
          a(href="#")скачать
      .officese-item
        svg.officese-img(role="img")(width="40")(height="40"): use(xlink:href="#pdf")
        .officese-link
          span Наименование файла
          a(href="#")скачать
      .officese-item
        svg.officese-img(role="img")(width="40")(height="40"): use(xlink:href="#zip")
        .officese-link
          span Наименование файла
          a(href="#")скачать
      .officese-item
        svg.officese-img(role="img")(width="40")(height="40"): use(xlink:href="#jpg")
        .officese-link
          span Наименование файла
          a(href="#")скачать
