.tabs-controlls
  .tabs-btn(data-index="0").tabs-btn__active Описание
  .tabs-btn(data-index="1") Технические характеристики
  .tabs-btn(data-index="2") Сертификаты
  .tabs-btn(data-index="3") Материалы для скачивания
.tabs-content.content
  .tabs-inner.tabs-inner__current
    include description
  .tabs-inner
    include specifications
  .tabs-inner
    include certificates
  .tabs-inner
    include officese
