.tabs-controlls
  a.tabs-btn.tabs-btn__active(href="#description")Описание
  a.tabs-btn(href="#description")Технические характеристики
  a.tabs-btn(href="#description")Сертификаты
  a.tabs-btn(href="#description")Материалы для скачивания
.tabs-content
  p 
    strong МБОР 
    |представляет собой огнезащитный холст из супертонких стеклянных шпательных волокон из горных  пород без связующих, прошитых вязально-прошивным способом с облицовочным материалом и без него.
  h4 Применение:
  p Материал предназначен для сверхлегкой тепловой изоляции промышленного оборудования, трубопроводов, аппаратуры, различных транспортных средств, бытовых газовых и электрических плит, стерилизаторов, жаропрочных шкафов, промышленных установок. Матераил предназначен для увелечния пределов огнестойкости в качестве огнезащитного материла поверх строительных и инженерных конструкций. Может использоваться для теплоизоляции в авиационной технике, автотранспорте, судостроении, строителстве и других отраслях.
  h4 Полезные свойства:
  ul 
    li негорючий;
    li нетоксичный, невзрывоопасный;
    li высокий коэффициент звукопоглащения;
    li стойкость к высоким температурам (до 700 °С);
    li устойчивость к агрессивным средам;
    li долговечность.
  h4 Упаковка, хранение:
  p Упаковка и маркировка МБОР соответсвует ГОСТ 25880-83, изделия транспортируют в крытых транспортных средствах в соответствии с правилами перевозок грузов, действующих на данном виде транспорта. 
  p Материал должен храниться в закрытом сухом помещении при относительной влажности воздуха не более 85 %. Рулоны должны храниться в горизонтальном положении в штабелях.
