.scroll-container
  table
    thead
      tr
        th(rowspan="2") Вместительность 
          br
          |фургона, м
        th(colspan="3") Маты прошивные, кг/м
        th(rowspan="2") МБОР
        th(rowspan="2") БВТМ-К
      tr
        th 25
        th 30
        th 50
    tbody
      tr
        td 12
        td 15
        td 13,5
        td 12
        td 78
        td 45 уп.
      tr
        td 20
        td 25
        td 23
        td 20
        td 130
        td 76 уп.
      tr
        td 40
        td 50
        td 46
        td 40
        td 260
        td 152 уп.
      tr
        td 40
        td 50
        td 46
        td 40
        td 260
        td 152 уп.
      tr
        td 40
        td 50
        td 46
        td 40
        td 260
        td 152 уп.
      tr
        td 40
        td 50
        td 46
        td 40
        td 260
        td 152 уп.
      tr
        td 40
        td 50
        td 46
        td 40
        td 260
        td 152 уп.
      tr
        td 40
        td 50
        td 46
        td 40
        td 260
        td 152 уп.
