.map
  #map
.contacts
  p
    a(href="tel:+73414552576") +7 (34145) 5-25-76
    |; 
    a(href="tel:+73414547115") +7 (34145) 4-71-15
  p Тел. / факс: 
    a(href="tel:+73414552573") +7 (34145) 5-25-73
  p E-mail: 
    a(href="mailto:sigmau@mail.ru") sigmau@mail.ru
