.officese
  .officese-item
    .offices-title Центральный офис
    a(href="#").offices-ref г. Воткинск, ул. Мира 1а
  .officese-item
    .offices-title Производство	
    a(href="#").offices-ref г. Воткинск, ул. Пугачева 264
  .officese-item
    .offices-title База Южная
    a(href="#").offices-ref 	г. Воткинск, ул. Совхозная 2а
  .officese-item
    svg.officese-img(role="img")(width="40")(height="40"): use(xlink:href="#jpg")
    .officese-link
      span Схема проезда
      a(href="#")скачать
