.officese
  .officese-item
    .offices-title Центральный офис
    a.object(href="#")(data-coords="57.053631, 53.987371")(data-baloon="Центральный офис <br/> г. Воткинск, ул. Мира 1а").offices-ref г. Воткинск, ул. Мира 1а
  .officese-item
    .offices-title Производство	
    a.object(href="#")(data-coords="57.066211, 54.014854")(data-baloon="Производство <br/> г. Воткинск, ул. Пугачева 264").offices-ref г. Воткинск, ул. Пугачева 264
  .officese-item
    .offices-title База Южная
    a.object(href="#")(data-coords="57.039007, 53.983592")(data-baloon="База Южная <br/> г. Воткинск, ул. Совхозная 2а").offices-ref г. Воткинск, ул. Совхозная 2а
  .officese-item
    svg.officese-img(role="img")(width="40")(height="40"): use(xlink:href="#jpg")
    .officese-link
      span Схема проезда
      a(href="#")скачать
