.map
  script(type="text/javascript")(charset="utf-8")(async)(src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa9b351e54f3411abe0617c245aba8ce05c5945abd9389b6e234d7b89c95f79e6&amp;lang=ru_RU&amp;scroll=true")
.contacts
  p
    a(href="tel:+73414552576") +7 (34145) 5-25-76
    |; 
    a(href="tel:+73414547115") +7 (34145) 4-71-15
  p Тел. / факс: 
    a(href="tel:+73414552573") +7 (34145) 5-25-73
  p E-mail: 
    a(href="mailto:sigmau@mail.ru") sigmau@mail.ru
  p
