.officese
  h1 Контакты
  .officese-item
    .offices-title Центральный офис
    .offices-ref г. Воткинск, ул. Мира 1а
  .officese-item
    .offices-title Производство	
    .offices-ref г. Воткинск, ул. Пугачева 264
  .officese-item
    .offices-title База Южная
    .offices-ref 	г. Воткинск, ул. Совхозная 2а
  .officese-scheme
    svg.officese-img(role="img")(width="45")(height="25"): use(xlink:href="#jpg")
    .officese-link
      .officese-link
        span Схема проезда
        a(href="#")скачать
