link(rel="stylesheet" href="styles/main.css")
link(rel="stylesheet" href="styles/jquery.mCustomScrollbar.min.css")
link(rel="stylesheet" href="styles/jquery.mmenu.css")
link(rel="stylesheet" href="styles/zoomify.css")
link(rel="stylesheet" href="styles/magnific-popup.css")
link(rel="stylesheet" href="styles/slick.css")
