h1 Как определить правильную толщину тепловой изоляции?
.detailarticle
  .detailarticle-img 
    img(src="/assets/info3.png")
  .detailarticle-content
    p Для того, чтобы базальтовое волокно максимально эффективно выполняло свои функции и соответствовало заданным качественным характеристикам, важно правильно рассчитать толщину теплоизоляционного слоя.
    h3 Правила расчета слоя базальтовой теплоизоляции
    p В соответствии с санитарными нормами толщину тепловой изоляции рассчитывают:
    ul
      li С учетом нормируемых теплопотерь;
      li С учетом величины теплового потока;
      li С учетом необходимого температурного режима изолируемых предметов;
      li С учетом изменения температурного режима транспортируемых в трубопроводных системах веществ;
      li С учетом величины конденсата;
      li С учетом  безопасности температурных параметров на поверхности теплоизоляционного слоя;
      li В целях предотвращения конденсации паров окружающей среды на наружной поверхности теплоизоляционного слоя;
      li В целях предотвращения конденсации паров из транспортируемых веществ внутри трубопроводов и образования агрессивных образований.
    h3 Как избежать ошибки в расчете толщины теплоизоляции?
    p В случае, когда базальтовая теплоизоляция необходима для соблюдения техники безопасности, рассчитать температуру поверхностного слоя изолированного объекта с высокой рабочей температурой несложно. В первую очередь, он не должен обжечь контактирующих с ним людей.
    p Для теплоизоляции низкотемпературных объектов решающую роль при расчете толщины теплоизоляционного слоя играет допустимый уровень теплопотерь.
    p Ярким примером игнорирования фактора теплопотерь может служить обогрев грунта вокруг теплотрасс, что несет большие финансовые затраты потребителей услуги.
    br
    p Чтобы избежать ошибок в расчетах, важно также учитывать:
    ul
      li Коэффициенты монтажного уплотнения при канальной прокладке теплоизоляционных  матов;
      li Необходимость наличия защитного слоя теплоизоляции при бесканальной прокладке трубопроводов.
