h1 Полезная информация
.lenta
  .lenta-item
    .lenta-img
      img(src="assets/info1.png")(alt="")
    .lenta-title
      a(href="infodetail.html") Характеристика базальтового волокна
  .lenta-item
    .lenta-img
      img(src="assets/info2.png")(alt="")
    .lenta-title
      a(href="infodetail.html") Базальтовое супертонкое волокно (БСТВ) и изделия из него
  .lenta-item
    .lenta-img
      img(src="assets/info3.png")(alt="")
    .lenta-title
      a(href="infodetail.html") Как определить правильную толщину тепловой изоляции?
  .lenta-item
    .lenta-img
    .lenta-title
      a(href="infodetail.html") Характеристика базальтового волокна
