.lenta
  .lenta-item(data-aos="fade-right")(data-aos-duration="1200")
    .lenta-img
      img(src="assets/info1.png")(alt="")
    .lenta-title
      a(href="infodetail.html") Характеристика базальтового волокна
  .lenta-item(data-aos="fade-right")
    .lenta-img
      img(src="assets/info2.png")(alt="")
    .lenta-title
      a(href="infodetail.html") Базальтовое супертонкое волокно (БСТВ) и изделия из него
  .lenta-item(data-aos="fade-right")
    .lenta-img
      img(src="assets/info3.png")(alt="")
    .lenta-title
      a(href="infodetail.html") Как определить правильную толщину тепловой изоляции?
  .lenta-item(data-aos="fade-right")
    .lenta-img
    .lenta-title
      a(href="infodetail.html") Характеристика базальтового волокна
