.footer{
  margin-top: 100px;
  background: $footerBg;
  border-bottom: $gambActive 2px solid;
  color: $footTxt;
  h3{
    text-transform: uppercase;
    font: $fSmall;
    color: $footerh3;
    margin: 10px 0;
  }
}
.copy{
  color: $footTxt;
  font: $fBase;
  margin-bottom: 15px;
  @media(min-width:$tablet){
    margin-bottom: 0;
  }
}
.footer-wrap{
  @media(min-width:$tablet){
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  @media(min-width:$large){
    margin: 20px -15px 0 -15px;
    align-items: flex-start;
  }
}
.footer-item__full{
  display: none;
  p{
    color: $footerh3;
  }
  @media(min-width:$large){
    display: block;
    width: calc(100% / 4 - 30px);
    margin: 0 15px;
  }
  &.right{
    text-align: right;
  }
}
.footer-item__menu{
  display: none;
  span{
    display:block;
    margin: 10px 0;
  }
    a{
      font: $fSmall;
      color: $footTxt;
  }
  @media(min-width:$large){
    display: block;
    justify-content: space-between;
    width: calc(100% / 4 - 30px);
    margin: -15px 15px;
  }
}
.footer-item{
  @media(min-width:$large){
    width: calc(100% / 3 - 30px);
    margin: 0 15px;
    &.right{
      text-align:right;
    }
  }

}
.picom{
  font: $fTiny;
  color: $nimpTxt;
  text-decoration: none;
}
  svg{
    display: inline-block;
    vertical-align: middle;
  }
.footer-tel{
  font: $fphone_min;
  color: $footTxt;
  text-decoration: none;
  svg{
    margin-right:5px;
    margin-bottom:5px;
    color: $footTxt;
    fill: $footTxt;
  }
}
