header.header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .logo{
    svg{
          width: 190px;
          height: 60px;
          @media(min-width:$tablet){
            width: 244px;
            height: 78px;
          }
      }
  }
  @media(min-width:$medium){
    flex-wrap: nowrap;
  }
}
.wrap-gamburger{
  position: relative;
  width: 60px;
  @media(min-width:$medium){
    order:1
  }
  @media(min-width:$large){
    display: none;
  }
}
.gamburger{
  display: block;
  position: absolute;
  top: 23px;
  right: 4px;
  width: 40px;
  height: 4px;
  background: $gamb;
  transition: background .3s linear;
  &:before, &:after{
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 4px;
    background: inherit;
  }
  &:before{
    top: -8px;
  }
  &:after{
    bottom: -8px;
 }
}
.mm-menu_offcanvas{
  .header-contacts{
    @media(min-width:$tablet){
      display:block;
    }
  }
}
.header-contacts{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0;
  width: 100%;
    .header-text {
      svg{
        display: none;
      }
    }
  p, a{
    color: $nimpTxt;
    font: $fBase;
    margin: 8px 0;
  }
  a{
    text-decoration: none;
  }
  @media(min-width:$tablet){
    flex-direction: row;
    flex-wrap: wrap;
      p, a{
        font: $fSmall;
      }
  }
  @media(min-width:$medium) and (max-width: $ipad){
    width: auto;
    margin: 0;
    flex-wrap: nowrap;
    .header-text{
      margin-right: 25px;
    }
    .header-text p>span{
      display: none;
    }
    .header-text svg{
      display: inline-block;
      margin-right: 5px;
      fill: $gambActive;
      color:  $gambActive;
    }
  }
    @media (min-width: $ipad){
      margin: 0 60px;
    }
    @media (min-width: $large){
      margin: 0 0 0 164px;
    }
}
.header_inner{
  .header-contacts{
    display: none;
    @media (min-width: $ipad){
      display: flex;
    }
  }

}
.header-tel{
  color: $impTxt;
  font: $fphone;
  margin-top: 17px;
    @media(min-width:$tablet){
      margin: 0;
    }
    &>a{
      display: flex;
      align-items: center;
    }
    .num{
      color: $impTxt;
      font: $fphone;
      position: relative;
      text-decoration:none;
      border-bottom: $impTxt 1px solid;
        @media(min-width:$medium) and (max-width: $ipad){
          font: $fBase;
        }
        @media(min-width:$large){
          border-bottom: none;
        }
      .weight{
        font: $fWidth;
      @media(min-width:$medium) and (max-width: $ipad){
          font: $fBase;
        }
      }
    }
    svg.phone{
      width: 30px;
      height: 30px;
      display: none;
      fill: $gambActive;
      color: $gambActive;
        @media(min-width:$small){
          display: block;
          margin-right: 25px;
          margin-bottom:11px;
        }
        @media(min-width:$large){
          width: 20px;
          height: 20px;
          margin-right:10px;
        }
          @media(min-width:$medium) and (max-width: $ipad){
            margin-right: 5px;
            width: 15px;
            height: 15px;
            margin-bottom:0;
          }
    }
    @media(min-width: $large){
        margin: 0;
      a{
        font: $fphone_min;
        border: none;
        span{
          font: $fWidth_min;
        }
      }
    }

}
.gamburger-menu{
  height: 0;
  overflow: hidden;
  display:none;
  li{
    list-style-type: none;
    a{
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      color: $regTxt;
      font: $fMedium;
      border-bottom: 1px solid $borderMenu;
      padding: 20px 30px;
        &.current{
          &:after{
            content: " ";
            display: inline-block;
            text-align: right;
            vertical-align: bottom;
            background: url("../images/svg/arrow_right_b.svg");
            width: 40px;
            height: 20px;
          }
        }
      }
  }
}
.wrap-gamburger.open{
.gamburger{
    background: $gambActive;
    right: 10px;
  }
}

.full-menu{
  display: none;
  @media(min-width: $large) {
    display: block;
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px $borderMenu solid;
    padding-bottom: 25px;
    ul{
      display: flex;
      justify-content: space-between;
      li{
        list-style: none;
        a{
          color: $pText;
          text-decoration: none;
          text-transform: uppercase;
          font: $fBase;
          position:relative;
          cursor:pointer;
          &:hover, &:active, &:focus, &.current{
            &:after{
              content: "";
              position:absolute;
              height: 2px;
              width:100%;
              background: $borderActive;
              bottom: -26px;
              left: 0;
            }
          }
        }
      }
    }
  }
}
