.about
  .about-wrap
    .about-col
      h2 продукция
      .about-text
        .about-links
          a(href="")Маты прошивные
          a(href="")Мбор
          a(href="")Плита бвтм
          a(href="")Картон бвтм
          a(href="")Холст бств
          a(href="")Фильерные питатели
        p Все объекты: от крупнейших, промышленных, транспортных, энергетических комплексов до бань, саун, дымоходов и печей обесечиваются надежной изоляцией на основе базальтового супертонкого волокна (БСТВ). Вся продукция изготовлена из натуральных горных пород.
    .about-image
      img(src="/images/about-image.png")(alt="")
