.about
  .container
    .about-wrap
      .about-text
        h2.bordered о ПРОДУКЦИи
        p Все объекты: от крупнейших, промышленных, транспортных, энергетических комплексов до бань, саун, дымоходов и печей обесечиваются надежной изоляцией на основе базальтового супертонкого волокна (БСТВ). Вся продукция изготовлена из натуральных горных пород.
        .small Наша продукция применяется в строительстве и реконструкции тысяч крупнейших объектов страны в составе огнезащитных систем и теплоизоляции энергетического оборудования, зданий и сооружений, в нефтегазовой отрасли, химическом производстве, в производстве промышленного и энергетического оборудования, а также бытовой техники.
      .about-image
        img(src="/images/about-image.png")(alt="")
      
