.breadcrumbs-wrap
  .breadcrumbs
    ul.breadcrumbs-ul
      li.breadcrumbs-li 
        a(href="/")Главная
        span
          svg.breadcrumbs-arrow(role="img")(width="20")(height="10"): use(xlink:href="#arrow")
      li.breadcrumbs-li.breadcrumbs-li__current
        span Контакты
