.container
  .catalogmenu-wrap
    .catalog-item Теплоизоляция  в промышленном и гражданском строительстве
    .catalog-item Теплоизоляция  промышленного и бытового оборудования
    .catalog-item Сертифицированная огнезащита металлоконструкций и воздуховодов
    .catalog-item теплоизоляция вагонов и контейнеров
