.container
  .catalogmenu-wrap
    .catalog-item 
      a(href="#") Теплоизоляция  в промышленном и гражданском строительстве
      svg(role="img")(width="20")(height="10"): use(xlink:href="#arrowdown")
    .catalog-item
      a(href="#") Теплоизоляция  промышленного и бытового оборудования
      svg(role="img")(width="20")(height="10"): use(xlink:href="#arrowdown")
    .catalog-item 
      a(href="#") Сертифицированная огнезащита металлоконструкций и воздуховодов
      svg(role="img")(width="20")(height="10"): use(xlink:href="#arrowdown")
    .catalog-item
      a(href="#")теплоизоляция вагонов и контейнеров
      svg(role="img")(width="20")(height="10"): use(xlink:href="#arrowdown")
