footer.footer
  .container
    .footer-wrap
      .footer-item__full
        svg(role="img")(width="190")(height="60"): use(xlink:href="#logo_footer")
      .footer-item__menu
        h3 Продукция
        span
          a(href="#")Огнезащита воздуховодов
        span
          a(href="#")Огнезащита металла
        span
          a(href="#")Огнезащита кабеля
      .footer-item__menu
        span
          a(href="#")Холсты
        span
          a(href="#")Маты прошивные базальтовые
        span
          a(href="#")МБОР
        span
          a(href="#")Базальтовые плиты
      .footer-item__full.right
        a.footer-tel(href="+73414547115")
          svg(role="img")(width="20")(height="20"): use(xlink:href="#telephone")
          |+7 (34145) 47-115
        p г. Воткинск, ул. Мира, 1а
          br
          | E-mail: sigmau@mail.ru
      .footer-item
        .copy © «Basalteco» 2010 — 2018 г.
      .footer-item.right
        a.picom(href="http://picom.ru")(target="_blank")Создание сайта, продвижение сайта —
        svg(role="img")(width="45")(height="25"): use(xlink:href="#picom")
