.footer-form.large-show
  .container
    .blockwrap
      .col-4(data-aos="fade-right")
        h2 Остались вопросы?
      .col-8(data-aos="fade-left")
        .form-wrap
          .form-name Заполните форму или позвоните по номеру:
          .form-tel
            a(href="tel:+73414547115")
              svg.form-svg(role="img")(width="20")(height="20"): use(xlink:href="#telephone")
              span +7 (34145) 47-115
          .formpopup
            a.h2.openform(href="form.html")Задать вопрос
