header.header_inner.header.container
  .logo
    a(href="/")
      svg(role="img")(width="190")(height="60"): use(xlink:href="#logo")
  .wrap-gamburger#menuOpen
    span.gamburger
  .header-contacts
    .header-text
      p 
        svg(role="img")(width="15")(height="15"): use(xlink:href="#local") 
        span Адрес: 
        a(href="mailto:sigmau@mail.ru") г. Воткинск, ул. Мира, 1а
      p 
        svg(role="img")(width="15")(height="15"): use(xlink:href="#email") 
        span E-mail: 
        a(href="mailto:sigmau@mail.ru") sigmau@mail.ru
    .header-tel
      a(href="tel:+73414547115")
        svg.phone(role="img")(width="30")(height="30"): use(xlink:href="#telephone")
        span.num +7 (34145) 
          span.weight 47-115
    .full-menu
      include ../_layouts/menu
