doctype html
html.no-js(lang="ru")
  head
    include ../_includes/meta
    include ../_includes/styles
    block title
  body
    include ../_includes/svg
    block header
    main
      .container.large-show
        include ../_layouts/breadcrumbs
      block content
      include ../_layouts/up
    include ../_layouts/footer
    include ../_includes/scripts
