ul
  li
    a(href="about.html")
      span О компании
  li
    a.current(href="products.html") 
      span Продукция
  li
    a(href="conducts.html")
      span Нормы загрузки транспорта
  li
    a(href="information.html") 
      span Полезная информация 
  li
    a(href="contacts.html")
      span  Контакты
