ul
  li
    a(href="about")
      span О компании
  li
    a.current(href="products") 
      span Продукция
  li
    a(href="normals")
      span Нормы загрузки транспорта
  li
    a(href="information") 
      span Полезная информация 
  li
    a(href="contacts")
      span  Контакты
