.paginator
  ul
    li
      a.paginator-href.paginator-href__prev(href="#")
        svg(role="img")(width="8")(height="15"): use(xlink:href="#pagination")
    li
      a.paginator-href(href="#") 8
    li
      a.paginator-href(href="#") 9
    li
      a.paginator-href.paginator-href__current(href="#") 10
    li
      a.paginator-href(href="#") 11
    li
      a.paginator-href.paginator-href__next(href="#")
        svg(role="img")(width="8")(height="15"): use(xlink:href="#pagination")
