.pluses
  h2 Наши преимущества
  .pluses-wrap
    .plus-item
      h3 Инновации
      p Развитие технологий
    .plus-item
      h3 Выгода
      p Всегда лучшие цены - важная основа для развития партнеров
    .plus-item
      h3 Созидание
      p Полный производственный цикл
    .plus-item
      h3 Ответственность
      p Многолетнее партнерство с десятками компаний
    .plus-item
      h3 Доступность
      p Значительные производственные мощности и логистическая доступность обеспечивают оперативность выполнения заказов   и доставку продукции
    .plus-item
      h3 Компетентность
      p Решение технических задач заказчика
    .plus-item
      h3 Экологичность
      p 100% - горные породы без фенолов и фармальдегидов
    .plus-item
      h3 Опыт
      p Работаем на рынке с 2003 года
