.container
  .productsmenu
    .products-item Теплоизоляция в промышленном и гражданском строительстве
    .products-item Теплоизоляция промышленного и бытового оборудования
    .products-item Сертифицированная Огнезащита металлоконструкций и воздуховодов
    .products-item Теплоизоляция вагонов и контейнеров
