.properties
  .col-2
    h2 В основе всей продукции — базальтовое супертонкое волокно (БСТВ)
    .properties-text Благодаря его природным и техническим особенностям этот материал имеет превосходные свойства, способные защитить от огня и холода с максимальной эффективностью и долговечностью.
  .properties-title Основные свойства БСТВ:
  .properties-items
    .properties-item
      figure
        .properties-img
          svg(role="img")(width="70")(height="86"): use(xlink:href="#icon_tem") 
        figcaption 
          | Негорючесть 
          br
          | (от -180 до +900 град
          br
          | °C )
    .properties-item
      figure
        .properties-img
          svg(role="img")(width="70")(height="86"): use(xlink:href="#icon_teplop") 
        figcaption Низкая теплопроводность Вт/(м*К)
    .properties-item
      figure
        .properties-img
          svg(role="img")(width="87")(height="41"): use(xlink:href="#icon_l") 
        figcaption Легкость
          br
          | (плотность от 20
          br
          | (кг/м3))
    .properties-item
      figure
        .properties-img
          svg(role="img")(width="67")(height="70"): use(xlink:href="#icon_eco")
        figcaption
          | 100% - горные породы
          br
          | без фенолов и фармальдегидов
    .properties-item
      figure
        .properties-img
          svg(role="img")(width="70")(height="70"): use(xlink:href="#icon_bio") 
        figcaption Биологическая стойкость
