.share-container
  span.share-btn 
    svg(role="img")(width="20")(height="23"): use(xlink:href="#share")
  .share-hidden
    .share-item.share-item__vk
      svg(role="img")(width="30")(height="30"): use(xlink:href="#vk")
    .share-item.share-item__ok
      svg(role="img")(width="30")(height="30"): use(xlink:href="#ok")
    .share-item.share-item__fb
      svg(role="img")(width="30")(height="30"): use(xlink:href="#fb")
    .share-item.share-item__tw
      svg(role="img")(width="30")(height="30"): use(xlink:href="#tw")
