.slider-wrap
  .container
    .slider
      .slider-item
        .slider-text
          h1.slider-h1 BASALTECO
          .slider-title
            .slider-h2
              span ЭКОЛОГИЧНАЯ
              span ТЕПЛОИЗОЛЯЦИЯ
          .slider-description ООО НПО БАЗАЛЬТОВЫЕ ТЕХНОЛОГИИ – разработка и производство современных   технологий, оборудования и высококачественных базальтоволокнистых материалов. 
        .slider-img
          img(src="images/1slide.png" alt="")
    .slider-arrows
      svg.arrowleft(role="img")(width="40")(height="15"): use(xlink:href="#arrow") 
      svg.arrowright(role="img")(width="40")(height="15"): use(xlink:href="#arrow") 
