extends _layouts/inner
block title
  title Контакты
block header
  include _layouts/header_inner
block content
  include _about/textabout
  .container
    include _about/use
  include _about/buy
  .container
    include _layouts/pluses
