extends _layouts/inner
block title
  title Контакты
block header
  include _layouts/header_inner
block content
  .container
    .blockwrap
      .col-4
        h1 Нормы загрузки автотранспорта
      .col-8
        include _conducts/table
        .min-show
          include _contacts/form
  .footer-form.large-show
    .container
      .blockwrap
        .col-4
          h2 Остались вопросы?
        .col-8
          .form-wrap
            .form-name Заполните форму или позвоните по номеру:
            .form-tel
              a(href="tel:+73414547115")
                svg.form-svg(role="img")(width="20")(height="20"): use(xlink:href="#telephone")
                span +7 (34145) 47-115
            .formpopup
              a.h2.openform(href="form.html")Задать вопрос
