extends _layouts/inner
block title
  title Контакты
block content
  .container
    include _layouts/breadcrumbs
    h1 Нормы загрузки автотранспорта
    include _conducts/table
    include _contacts/form
    include _layouts/up
