extends _layouts/inner
block title
  title Контакты
block header
  include _layouts/header_inner
block content
  .container
    .blockwrap
      .col-4(data-aos="fade-right")
        h1 Нормы загрузки автотранспорта
      .col-8(data-aos="fade-left")
        include _conducts/table
        .min-show
          include _contacts/form
  include _layouts/footer-form
