extends _layouts/inner
block title
  title Контакты
block header
  include _layouts/header_inner
block content
  .container
    .blockwrap
      .col-4
        h1 Нормы загрузки автотранспорта
      .col-8
        include _conducts/table
        include _contacts/form
