extends _layouts/inner
block title
  title Контакты
block header
  include _layouts/header_inner
block content
  .container
    .blockwrap 
      .col-4(data-aos="fade-right") 
        h1 Контакты
        include _contacts/offices
      .col-8(data-aos="fade-left")
        include _contacts/map
        include _contacts/form
        include _contacts/requisites
