extends _layouts/inner
block title
  title Контакты
block content
  .container
    include _layouts/breadcrumbs
  .container.wraper 
    .col-4 
      include _contacts/offices
    .col-8
      include _contacts/map
      include _contacts/form
      include _contacts/requisites
