extends _layouts/inner
block title
  title Контакты
block content
  .container
    include _layouts/breadcrumbs
    include _contacts/offices
    include _contacts/map
    include _contacts/form
    include _contacts/requisites
