.form-wrap.modal
  form(action="")
    .form-field
      input(type="text")(name="name")(placeholder="ФИО")
    .form-field
      input(type="text")(name="phone")(placeholder="Телефон")
    .form-field
      input(type="text")(name="post")(placeholder="Почта")
    .form-field
      textarea(type="text")(name="order")(placeholder="Ваш заказ")
    .form-field
      input(type="checkbox")(id="agree")
      label(for="agree") Согласен на обработку персональных данных
    .form-field
      button(type="submit")(name="send")(value="Отправить") Отправить
