extends _layouts/default
block title
  title Базальт Эко
block header
  include _layouts/header
block content
  include _layouts/slider
  include _layouts/productsmenu
  .container.large-show
    include _layouts/catalogmenu
  .container
    include _layouts/properties
  include _layouts/about
  .container
    include _layouts/pluses
