extends _layouts/default
block title
  title Базальт Эко
block content
  include _layouts/slider
  include _layouts/productsmenu
  include _layouts/catalogmenu
  include _layouts/properties
  include _layouts/about
  include _layouts/pluses
