extends _layouts/inner
block title
  title Полезная Информация
block content
  .blockwrap
    .col-4
      h1 Полезная Информация
    .col-8
      include _information/lenta
      include _layouts/paginator
  h2 Продукция
  include _layouts/catalogmenu
