extends _layouts/inner
block title
  title Информация
block content
  .container
    include _layouts/breadcrumbs
  .container.wraper
    .col-4
      h1 Полезная Информация
    .col-8
      include _information/lenta
      include _layouts/paginator
  .container
    include _layouts/catalogmenu
