extends _layouts/inner
block title
  title КАК ОПРЕДЕЛИТЬ ПРАВИЛЬНУЮ ТОЛЩИНУ ТЕПЛОВОЙ ИЗОЛЯЦИИ?
block content
  .container
    include _layouts/breadcrumbs
  .container.wraper
    .col-4
      h1 КАК ОПРЕДЕЛИТЬ ПРАВИЛЬНУЮ ТОЛЩИНУ ТЕПЛОВОЙ ИЗОЛЯЦИИ?
    .col-8
      include _information/detailarticle
      .blockwrap
        include _layouts/comeback
        include _layouts/share
