extends _layouts/inner
block title
  title Контакты
block content
  .container
    include _layouts/breadcrumbs
    include _information/detailarticle
    .blockwrap
      include _layouts/comeback
      include _layouts/share
    include _layouts/up
