extends _layouts/inner
block title
  title КАК ОПРЕДЕЛИТЬ ПРАВИЛЬНУЮ ТОЛЩИНУ ТЕПЛОВОЙ ИЗОЛЯЦИИ?
block header
  include _layouts/header_inner
block content
  .container
    .blockwrap
      .col-4(data-aos="fade-right")
        h1 КАК ОПРЕДЕЛИТЬ ПРАВИЛЬНУЮ ТОЛЩИНУ ТЕПЛОВОЙ ИЗОЛЯЦИИ?
      .col-8(data-aos="fade-left")
        include _information/detailarticle
    h2.large-show Продукция
    include _layouts/catalogmenu
