extends _layouts/inner
block title
  title Контакты
block content
  .container
    include _layouts/breadcrumbs
    h1 МБОР материал базальтовый огнезащитный рулонный
    include _products/productslider
    include _products/tabs
    include _layouts/_contacts/form
    include _layouts/up
