extends _layouts/inner
block title
  title МБОР материал базальтовый огнезащитный рулонный
block content
  .container
    include _layouts/breadcrumbs
  .container.wraper
    .col-4
      h1 МБОР материал базальтовый огнезащитный рулонный
    .col-8
      include _products/productslider
      include _products/tabs
      include _contacts/form
