extends _layouts/inner
block title
  title МБОР материал базальтовый огнезащитный рулонный
block header
  include _layouts/header_inner
block content
  .container
    .blockwrap
      .col-4
        .h1 Продукция
        .catalogmenu-container
          .catalogmenu-wrap__column
            .catalog-item 
              svg(role="img")(width="20")(height="10"): use(xlink:href="#arrowdown")
              a(href="#") Теплоизоляция  в промышленном и гражданском строительстве
              ul.catalog-list 
                li.catalog-sub
                  a(href="productdetail.html")Холсты
                  ul
                    li
                      a(href="productdetail.html")Клеевая огнезащита
                    li
                      a(href="productdetail.html")Бесклеевая огнезащита
                li
                  a(href="productdetail.html")Маты прошивные базальтовые
                li
                  a(href="productdetail.html")МБОР
                li
                  a(href="productdetail.html")Базальтовые плиты
            .catalog-item
              svg(role="img")(width="20")(height="10"): use(xlink:href="#arrowdown")
              a(href="#") Теплоизоляция  промышленного 
                br
                | и бытового оборудования
              ul.catalog-list 
                li.catalog-sub
                  a(href="productdetail.html")Холсты
                  ul
                    li
                      a(href="productdetail.html")Клеевая огнезащита
                    li
                      a(href="productdetail.html")Бесклеевая огнезащита
                li
                  a(href="productdetail.html")Маты прошивные базальтовые
                li
                  a(href="productdetail.html")МБОР
                li
                  a(href="productdetail.html")Базальтовые плиты
            .catalog-item 
              svg(role="img")(width="20")(height="10"): use(xlink:href="#arrowdown")
              a(href="#") Сертифицированная огнезащита металлоконструкций
                br
                | и воздуховодов
              ul.catalog-list 
                li.catalog-sub
                  a(href="productdetail.html")Холсты
                  ul
                    li
                      a(href="productdetail.html")Клеевая огнезащита
                    li
                      a(href="productdetail.html")Бесклеевая огнезащита
                li
                  a(href="productdetail.html")Маты прошивные базальтовые
                li
                  a(href="productdetail.html")МБОР
                li
                  a(href="productdetail.html")Базальтовые плиты
            .catalog-item
              svg(role="img")(width="20")(height="10"): use(xlink:href="#arrowdown")
              a(href="#")теплоизоляция вагонов и контейнеров
              ul.catalog-list 
                li.catalog-sub
                  a(href="productdetail.html")Холсты
                  ul
                    li
                      a(href="productdetail.html")Клеевая огнезащита
                    li
                      a(href="productdetail.html")Бесклеевая огнезащита
                li
                  a(href="productdetail.html")Маты прошивные базальтовые
                li
                  a(href="productdetail.html")МБОР
                li
                  a(href="productdetail.html")Базальтовые плиты
      .col-8
        h1 МБОР материал базальтовый огнезащитный рулонный
        include _products/productslider
        include _products/tabs
        include _contacts/form
