extends _layouts/inner
block title
  title МБОР материал базальтовый огнезащитный рулонный
block header
  include _layouts/header_inner
block content
  .container
    .blockwrap
      .col-4(data-aos="fade-right")
        .h1 Продукция
        include _products/productleft
      .col-8(data-aos="fade-left")
        .h2.black МБОР материал базальтовый огнезащитный рулонный
        include _products/productslider
        include _products/tabs
        .min-show
          include _contacts/form
  include _layouts/footer-form
