extends _layouts/inner
block title
  title Контакты
block header
  include _layouts/header_inner  
block content
  .container
    .blockwrap
    h1 Продукция
    include _products/productcat
  .container
    include _layouts/properties
